{
    "issuer": {
        "url": "https://agent.dev.eduwallet.nl/sandbox/api",
        "token": "xxx"
    },
    "verifier": {
        "url": "https://verifier.dev.eduwallet.nl/sandbox/api",
        "token": "xxx"
    },
    "eduid": {
        "url": "https://issuer.dev.eduid.nl/eduid/api",
        "token": "xxx"
    }
}
